@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Gabriel Eduardo Duarte Vega<br />
    Ingeniero Especialista en Software<br />
    <abbr title="Phone">Mobile: </abbr>
    311 562 9864
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">geduartev@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">geduartev@outlook.com</a>
</address>